
/* Body*/
body{
    background-color: #EDEDED; 
}

/* Navbar*/
.navbar{
    max-height: none;
    padding: 10px;
}
.navbar-brand {
    color: white !important;
    font-weight: bold;
    background-color: #0b8dad;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px 10px !important;
}

.nav-link:hover{
    background-color:#E7E7E7;
   }

.navbar-brand:hover{
color: rgb(175, 175, 175);
}

.box-comparation {
    margin-bottom: 30px;
    padding: 10px 50px 20px; 
}


/* Title Class  */
.title {
    color: #0b8dad;  
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder; 
    padding-top: 25px; 
}
.active {
    background-color: rgb(4, 109, 158) !important;
    border: 3px solid;
}

/* Paragraph Element */
p{
 color: #6D8092;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 17px; 
}

/* Boxes Class */
.boxes {
    margin-top: 60px; 
    margin-bottom: 62px; 
    padding: 10px 20px 20px; 
    background-color: white; 

  }
.box {
    margin-top: 60px; 
    margin-bottom: 62px; 
    margin-right: 60px;
    margin-left: 60px;
    background-color: white; 
}

/* Table Element */
table {
    background-color: white;
}

/* Media Queries */
@media(max-width: 992px){
    .navbar{
        max-height: none; 
        padding: inherit;
    }

    .active {
        background-color: rgb(0, 35, 51) !important;
        width: 325px;
        height: auto;
        color: blue;
    }

    .box-comparation {
        margin-bottom: 30px;
        padding: 10px 50px 20px; 
    }
    .redo{
        width: 650px;
        height: auto;
    }

    .redobottom {
        width: 325px;
        height: auto;
    }

    .container-fluid {
        padding: 10px;
    }
    .navbar div{
        margin: inherit; 
        background-color: #16b2da;
    }

    .navbar-brand{
        padding: 15px;
        background-color: #16b2da;
    }
    
    button{
        margin-right: 30px; 
    }
    #navbarSupportedContent {
        background-color: white;
    }

    #navbarDropdownMenuLink {
        margin-left: 15px;
    }
    .nav-link {
        margin-left: 15px;
    }
    .boxes {
        margin-top: 60px; 
        margin-bottom: 62px; 
        padding: 10px 20px 20px;
        background-color: white;
      }
}
